/* Global Variables */
:root {
  --primary-color: #007bff; /* Main brand color */
  --primary-hover-color: #0056b3; /* Hover state for primary color */
  --font-family: system-ui, Helvetica, Arial, sans-serif;
  --border-radius: 6px; /* Rounded corners for buttons and containers */
  --transition-speed: 0.25s; /* Default transition duration */
  --background-color-dark: #242424; /* Background for dark mode */
  --background-color-light: #ffffff; /* Background for light mode */
  --text-color-light: rgba(255, 255, 255, 0.87); /* Text color for dark mode */
  --text-color-dark: #213547; /* Text color for light mode */
}

/* Base Styles */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color-dark);
  background-color: var(--background-color-light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* TODO: Add dark mode. Prefers light for later when dark mode is added */
@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-dark);
    background-color: var(--background-color-light);
  }
}

/* a is meant for hyperlinks app wide. Ensures all links app have same basic appearance. */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--primary-hover-color);
}
